<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Cargonaut - Profil</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
  <header>
    <nav class="navbar bg-light ">
      <a class="navbar-brand" href="#">
        <img src="assets/Cargo-Logo.PNG" width="200" height="90" class="d-inline-block align-top" alt=""
          loading="lazy">
      </a>
      <a class="profil-picture" href="">
        <img src="assets/benutzer.png" height="90" width="90" alt="">
      </a>
    </nav>
  </header>

  <div id="body">
    <div class=" profil-container">
      <div class="row">
        <div class="col-md-3 align-self-center align-content-lg-center">
          <img src="assets/benutzer.png" width="90" height="90" alt="">
        </div>
        <div class="col">
          <h5>johnathan.knobber@gmail.com</h5>
          <h6>Driver</h6>
        </div>
        <div class="col-1">
          <a href="login.html">
          <img src="assets/ausloggen.png" width="20" height="20" alt="">
        </a>
        </div>
      </div>
      <br>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstname">First Name</label>
            <input type="text" class="form-control" id="inputFirstname">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastname">Last Name</label>
            <input type="text" class="form-control" id="inputLastname">
          </div>
        </div>
        <div class="form-group">
          <label for="inputBday">Birthday</label>
          <input type="date" class="form-control" id="inputBday">
        </div>
        <div class="form-row">
          <div class="form-group col-md-9">
            <label for="inputStreet">Street</label>
            <input type="text" class="form-control" id="inputStreet">
          </div>
          <div class="form-group col-md-3">
            <label for="inputStNumber">Number</label>
            <input type="text" class="form-control" id="inputStNumber">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Zip code</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTel">Phone number</label>
          <input type="text" class="form-control" id="inputTel">
        </div>
        <div class="form-row justify-content-end">
          <button type="submit" class="btn btn-success ">Save</button></div>
      </form>
    </div>
  </div>
</body>

</html>